<app-navbar></app-navbar>
<div class="page">
    <div class="row justify-content-center pb-3 pt-3">
      <div class="col-9 container-cards" *ngIf="movies" >
          <div class="card" *ngFor="let movie of movies">
              <img [src]="movie.poster_path" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.release_date}}</p>
                <p class="card-text">{{movie.key}}</p>
                <a class="btn btn-success" (click)="detalles(movie.key)" routerLink="/detalles/{{movie.key}}" >Ver mas</a>
                <a class="btn btn-warning" (click)="postCar(movie)">
                  Añadir al carrito
                </a>
              </div>
            </div>
      </div>
  </div>
  </div>
