<div class="footer pt-2">
    <footer class="movie-footer">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-7">
              <p>&copy; 2023 MP3 PELICULAS </p>
            </div>
            <div class="col-3">
              <div class="row social-icons">
                <div class="col"><i class="fab fa-facebook"></i></div>
                <div class="col"><i class="fab fa-twitter"></i></div>
                <div class="col"><i class="fab fa-instagram"></i></div>
                <div class="col"><i class="fab fa-youtube"></i></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
</div>