<app-navbar></app-navbar>
<div class="page">
    <div class="backdrop" [ngStyle]="{'background-image': 'url(' + Movie.backdrop_path + ')'}">
    </div>
    <div class="pt-3 detail">
        <div class="row justify-content-center pb-3 ">
            <div class="col-6 detailContent">
                <h1 class="text-center text-uppercase fw-bold font-monospace pb-3">{{Movie.title}}</h1>
                <p><i class="fa-solid fa-cart-shopping" ></i></p>
                <div class="row">
                  <div class="col text-center pb-3 border-end border-start border-light" *ngFor="let g of genres">{{g.name}}</div>
                </div>
              <div class="detail-body">
                <p class="lbl "><label >Titulo Original:</label> {{Movie.original_title}}</p>
              <p class="lbl"><label >Lenguaje Original:</label> {{Movie.original_language}}</p>
              <p class="lbl"><label >Fecha de Lanzamiento:</label> {{Movie.release_date}}</p>
              <p class="lbl"><label >Popularidad:</label> {{Movie.popularity}}</p>
              <p class="fs-5 ">{{Movie.overview}}</p>
              </div>
              
            </div>
            <div class="col-3 detail-image ">
                <div class="card text-bg-dark">
                    <img [src]="Movie.poster_path" class="card-img " alt="..." height="500px">
                  </div>
              </div> 
        </div>
</div>    
</div>
<app-footer></app-footer>